{% extends "base.html" %}
{% block cuerpo %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
                <h1>Editar Venta</h1>
                <form action="/editarVenta/" method="POST"> {% csrf_token %}
                    <div class="form-group">
                        <input type="number" name="txtidventa" class="form-control" value="{{ venta.id_venta }}" readonly>
                    </div>
                    <div class="form-group py-3">
                        <input type="number" name="txtidcliente" class="form-control" value="{{ venta.id_cliente }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="number" name="txtidcalzado" class="form-control" value="{{ venta.id_calzado }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="date" name="txtfechaventa" class="form-control" value="{{ fecha_venta }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="number" step="0.01" name="txttotal" class="form-control" value="{{ venta.total }}" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="number" name="txtidempleado" class="form-control" value="{{ venta.id_empleado }}" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
