{% extends "base.html" %}
{% load static %}
{% block cuerpo %}
<div class="row">
    <div class="col-md-4">
        <h1>Registrar Sucursal</h1>
        <div class="card">
            <div class="card-body">
                <form action="/registrarSucursal/" method="POST"> {% csrf_token %}
                    <div class="form-group">
                        <input type="number" name="txtid" class="form-control" placeholder="ID Sucursal" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="number" name="txtempleado" class="form-control" placeholder="ID Empleado" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="number" name="txtcontacto" class="form-control" placeholder="Contacto" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" name="txtdireccion" class="form-control" placeholder="Dirección" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="email" name="txtcorreo" class="form-control" placeholder="Correo" required>
                    </div>
                    <div class="form-group py-3">
                        <input type="text" name="txthorario" class="form-control" placeholder="Horario" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <img class="w-50" src="{% static 'img/sucursal.jpg' %}" width="400" height="400" alt="">
        <h1>Listado de Sucursales</h1>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ID Sucursal</th>
                        <th>ID Empleado</th>
                        <th>Contacto</th>
                        <th>Dirección</th>
                        <th>Correo</th>
                        <th>Horario</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sucursal in sucursales %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ sucursal.id_sucursal }}</td>
                        <td>{{ sucursal.id_empleado }}</td>
                        <td>{{ sucursal.contacto_s }}</td>
                        <td>{{ sucursal.direccion_s }}</td>
                        <td>{{ sucursal.correo_s }}</td>
                        <td>{{ sucursal.horario }}</td>
                        <td>
                            <a href="seleccionarSucursal/{{ sucursal.id_sucursal }}" class="btn btn-info">Editar</a>
                            <a href="borrarSucursal/{{ sucursal.id_sucursal }}" class="btn btn-danger">Borrar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
